.box {
    background-color: lightslategrey;
    height: auto;
    width: 300px;
}

.likeBox {
    width: 300px;
    height: auto;
    background-color: pink;
    margin-top: 0;
}

.description {
    margin: 0;
}

.glyphicon {
    width: 20px;
    height: auto;
}