.container-fluid {
    padding-left: 0; 
}

body {
    background-color: #C8C8C8;
    font-family: 'Oswald', sans-serif;
}

.header {
    background-color: #2D2D2D;
    color: #C8C8C8;
    padding-left: 2px;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    box-shadow: 0 10px 6px -6px #777;
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    z-index: 10;
}

.spaceDiv {
    padding-top: 100px;
    margin-left: 15px;
    margin-right: 10px;
}

.descDiv {
    background-color: #4D043F;
    color: #FEFFFE;
    height: 381px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-size: 32px;
}

.commentDiv {
    background-color: #4D043F;
    color: #FEFFFE;
    height: 381px;
    border-radius: 7px;
    padding: 5px;
}

input {
    color: black;
}

.fullItem {
    min-height: 450px;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #9B6891;
    border-radius: 7px;
    box-shadow: 0 10px 6px -6px #777;
}

.counterBox {
    height: 50px;
    background-color: #4D043F;
    color: #FEFFFE;
    margin-top: -10px;
    padding-left: 10px;
    padding-top: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.pictureDiv {
    background-color: #4D043F;
    border-radius: 7px;
}

.hover:hover {
    color: #9B6891;
}

img:hover {
    opacity: 0.8;
}

.submit{
    background-color: #9B6891;
}



